doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    title= BlogList

    .container-narrow
        .masthead
            ul.nav.nav-pills.pull-right
                li.active
                    a(href='#') Home
                li
                    a(href='/index') Blog List
                
        

      body.container
        each val, i in mess
            h1 #{val.title}
            i #{val.user}
            p #{val.message}
            h1 Write your comment
            h3 Seriously, go crazy
            form(name='input', action='https://nameless-spire-9975.herokuapp.com/post', method='POST')
            | Username:
            br
            input(type='text', name='user')
            br
            | Message:
            br
            input(type='text', name='message')
            br
            input(type='submit', value='Submit')
            input(type='hidden',name='id',value = '#{val._id}')